{% extends "agents/agent_base.html" %}
{% block title %}Contracts{% endblock title %}

{% block content %}
    <div>
        <div>
            <div>
                <form method="post" action="{% url 'search_contracts' user.id%}">
                    {% csrf_token %}
                    <div>
                        <input type="text" placeholder="Search by email, first name" name="searched">
                    </div>
                    <div>
                        <label for="insurance-type">Choose sort value field</label>
                        <select id="insurance-type" name="sort_value">
                            <option value="first_name">First name</option>
                            <option value="email">email</option>
                        </select>

                        <select id="insurance-type" name="asc_desc">
                            <option value="asc">asc</option>
                            <option value="desc">desc</option>
                        </select>
                    </div>
                    <button type="submit">Sort and Search</button>
                </form>
                <ul>
                    {% for item in contracts %}
                        <p>Client: {{ item.client.user }}</p>
                        <p>Affiliate: {{ item.affiliate }}</p>
                        <p>Insurance type: {{ item.insurance_type }}</p>
                        <p>Created at: {{ item.created_at }}</p>
                        <p>Insurance object: {{ item.insurance_object }}</p>
                        {% for risk in item.insurance_risk.all %}
                            <p>Insurance risk: {{ risk }}</p>
                        {% endfor %}
                        <a href="{% url 'policy_create' item.id %}">Create Policy</a>
                        <hr>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
