{% extends "agents/agent_base.html" %}
{% block title %}Update Account{% endblock title %}
{% block header %}Update Account{% endblock header %}

{% block content1 %}
    <div>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <form method="POST" action="{% url 'agent_update' user.id%}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div>
                            {{ field.errors|first }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" value="Submit" />
        </form>
    </div>
{% endblock content1 %}