
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main statistics Page</title>
</head>
<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="{% url 'company_statisctics' user.id%}">Company statistics</a>
                </li>
                <li>
                    <a href="{% url 'chart_statisctics' user.id%}">Policy sales total</a>
                </li>
                <li>
                    <a href="{% url 'main' %}">Back to main</a>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <section>
            <h1>
                {% block header %}{% endblock header %}
            </h1>
            <section>
                {% block content%}{% endblock content %}
            </section>
        </section>
    </main>
</body>
</html>