{% extends "statistics/base_statistics.html" %}
{% block title %}Statistics{% endblock title %}
{% block header %}Statistics{% endblock header %}

{% block content %}
    <h2>All Clients</h2>
    <table border="1" align="center" bgcolor="yellow" border ="3" bordercolor="blue">
        <caption>Statistics header</caption>
        <thead>
            <tr bgcolor="yellow" bordercolor="red">
                <th>Profile image</th>
                <th id="email">Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Balance</th>
                <th>Age</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            {% for client in total_clients %}
            <colgroup span="2" width="100"></colgroup>
            <colgroup>
                <col width="50">
                <col width="25">
            </colgroup>
            <tr bgcolor="yellow" bordercolor="red">
                <td colspan="2" width="400">
                    {% if client.user.profile_image %}
                        <img src="{{ client.user.profile_image.url}}" class="img1" alt="..." />
                    {% endif %}
                </td>
                <td headers="email">{{ client.user.email }}</td>
                <td>{{ client.user.first_name }}</td>
                <td>{{ client.user.last_name }}</td>
                <td>{{ client.user.date_birth }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.balance }}</td>
                <td>{{ client.user.age }}</td>
                <td>{{ client.gender }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Other Statistics</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Statistic</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total Policy Price</td>
                <td>{{ total_policy_price }}</td>
            </tr>
            <tr>
                <td>Client Age Median</td>
                <td>{{ client_median }}</td>
            </tr>
            <tr>
                <td>Client Age Mean</td>
                <td>{{ client_mean }}</td>
            </tr>
            <tr>
                <td>Client Age Mode</td>
                <td>{{ client_mode }}</td>
            </tr>
        </tbody>
    </table>
    <tfoot>
        <tr>
            <td>Footer</td>
        </tr>
    </tfoot>
{% endblock content %}