{% extends "main/base.html" %}
{% block header %}Registration{% endblock header %}
{% load static %}

{% block content %}
    <div>
    {% if messages %}
        <div>
            {% for message in messages %}
                <div role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <form method="POST" action="{% url 'client_register' %}">
        {% csrf_token %}
        <h1>Create Account</h1>
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div>
                        {{ field.errors|first }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <input type="submit" value="Submit" />
    </form>
    <div>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    <p>Go to main <a href="{% url 'main' %}">Main</a></p>
</div>
{% endblock content %}
