{% extends "main/base.html" %}
{% block title %}Feedbacks {% endblock title %}
{% block header %}Feedbacks{% endblock header %}

{% block content %}
    <ul>
        {% for item in feedbacks %}
            <p>Client: {{ item.client.user }}</p>
            <p>Title: {{ item.title }}</p>
            <p>Description: {{ item.description }}</p>
            <p>Rating: {{ item.rating }}</p>
            <p>Created at: {{ item.created_at }}</p>
            <hr>
        {% endfor %}
        {% if request.user.is_authenticated %}
            <a href="{% url 'client_profile' user.id%}">Feedback Create</a>
        {% else %}
            <p>Wanna place your feedback? <a href="{% url 'login' %}">Login</a></p>
        {% endif %}
    </ul>
{% endblock content %}

