{% extends "main/base.html" %}
{% block title %}Coupons {% endblock title %}
{% load static %}

{% block content %}
    {% if news %}
        <h1>Last news</h1>
        {% if news.image%}
            <img src="{{ news.image.url}}"alt="..." />
        {% endif %}

        <p>Title: {{ news.title }}</p>
        <p>Description: {{ news.content | safe | truncatewords:"50"|linebreaks }}</p> 
        <p>Created at: {{ news.created_at }}</p>
        
        {% if news.content|length > 50 %}  
            <a href="{% url 'news_detail' news.id %}">Read More</a>
        {% endif %}
        <hr>
    {% endif %}
    <h1>Our partners</h1>
    {% for partner in company_partners %}
        {% if partner.image %}
            <p>{{ partner.information }}</p>
            
            {% if partner.image %}
                <a href="{{ partner.company_url }}"><img src="{{ partner.image.url}}" alt="..." /></a>
            {% endif %}
        {% endif %}
    {% endfor %}
    <h1>ADS Banners</h1>
    <img src="{% static 'images/affiliate.jpg' %}" style="width:500px;height:250px;"></img>
    <img src="{% static 'images/affiliate1.jpg' %}" style="width:500px;height:250px;"></img>
{% endblock content %}
