{% extends "main/base.html" %}
{% block title %}News{% endblock title %}
{% block header %}News{% endblock header %}

{% block content %}
<ul>
    {% for item in news %}
        {% if item.image%}
            <img src="{{ item.image.url}}"alt="..." />
        {% endif %}

        <p>Title: {{ item.title }}</p>
        <p>Description: {{ item.content | safe | truncatewords:"50"|linebreaks }}</p> 
        <p>Created at: {{ item.created_at }}</p>
        
        {% if item.content|length > 50 %}  
            <a href="{% url 'news_detail' item.id %}">Read More</a>
        {% endif %}
        <hr>
    {% endfor %}
</ul>
{% endblock content %}