{% extends "main/base.html" %}
{% block title %}Vacancies{% endblock title %}
{% block header %}Vacancies{% endblock header %}

{% block content %}
    <ul>
        {% for item in vacancies %}
            <p>Title: {{ item.title }}</p>
            <p>Description: {{ item.description }}</p>
            <p>Salary: {{ item.salary }} Byn</p>
            <p>Experience: {{ item.experience }} year(s)</p>
            <p>Created at: {{ item.created_at }}</p>
            <hr>
        {% endfor %}
    </ul>
{% endblock content %}
